# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
tmp/
temp/


# Backup files
*~
*.bak

# Other
.cache/
build/
dist/
coverage/
